<div class="jumbotron">
    <h1>CSGPortal Services</h1>
    <p class="lead">This is the services portal for CSG Architect website.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Available APIs</p>
    </div>
    <div class="col-md-4">
        <h2>More info about CSG</h2>
        <p>More info</p>
    </div>
    <div class="col-md-4">
        <h2>Disclaimer</h2>
        <p>Some text</p>
    </div>
</div>
